header{
	background: #B3B3B3;
}
section{
	background: #808080;
}

img{
	display:none;
}

h1{
	color: #FFFFFF;
	background:#B3B3B3;
	text-transform: uppercase;
	text-align: center;
}
h2{
	color: #0000FF;
	text-transform: uppercase;
}
a{
	color: #000000;
	background: #d3d3d3;
}

